/* Fonts */

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans.woff2") format("woff2"),
    url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: bold;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-light-black: #333333;
  --basic-white-black: #888888;
  --basic-neutral: #EEEEEE;
  --basic-white: #ffffff;
  --basic-blue: #81B3D2;
  --basic-blue-logo: #81B3D3;
  --basic-blue-focus : #669EC0;
  --basic-blue-active: #5496BD;


  --special:  #766357;
  --special-logo: #766458;
  --special-active: #604E43;
  --special-focus: #503E33;
}

/* Global */

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-light-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  background-image: url("/img/background_index.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main navigation */

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
}

.site-navigation {
  background-color: var(--basic-white);
  list-style: none;
}


/* User navigation */


.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: var(--basic-white);
}


/* Features */

.features p {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  list-style: none;
}

.features-list {
  list-style: none;
}

.features,
.feature-item,
.feature-item-big {
  text-align: center;
}
.feature-item-big {
  list-style: none;
}

.feature-item h3,
.feature-item-big h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.feature-item p,
.feature-item-big p {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  }

.feature-item-big,
.feature-item {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}
 .feature-item-big,
 .feature-item-big p {
  color: var(--basic-white);
  background-color: var(--basic-blue);
 }

 .feature-item {
   color: var(--basic-light-black);
   background-color: var(--basic-white);
 }

/* Button */

.button,
.button-catalog {
  font: inherit;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-blue);
  border: none;
}
.button:hover {
background-color: var(--basic-blue);
}

.button:focus {
  background-color: var(--basic-blue-focus);
}

.button:active {
  background-color: var(--basic-blue-active);
}

.button-catalog {
  background-color: var(--special);
}

.button-catalog:hover {
  background-color: var(--special);
}

.button-catalog:focus {
  background-color: var(--special-focus);
}

.button-catalog:active {
  background-color: var(--special-active);
}

/* Contacts */

.contacts-phone {
  color: inherit;
}

/* Main footer */

.main-footer {
  color: var(--basic-black);
  background-color: var(--basic-white);

}

.footer-contacts a {
  color: var(--basic-black);
  text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

/* Social button */

.social-button {
  color: var(--basic-white);
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-blue);
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

/* Modal */

.modal {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.modal-login h2 {
  font-size: 21px;
  line-height: 26px;
}

/* Map */
.map {

}
