/* Fonts */

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans.woff2") format("woff2"),
    url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: bold;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-light-black: #333333;
  --basic-white-black: #888888;
;
  --basic-neutral: #EEEEEE;
  --basic-white: #ffffff;
  --basic-blue: #81B3D2;
  --basic-blue-logo: #81B3D3;
  --basic-blue-focus : #669EC0;
  --basic-blue-active: #5496BD;


  --special:  #766357;
  --special-logo: #766458;
  --special-active: #604E43;
  --special-focus: #503E33;

  --special-logo-black: #231F20;
  --special-logo-blue: #81B3D2;
  --special-logo-white-black: #BDBBBC;


}

/* Global */

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-light-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  background-image: url("/img/background_index.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main navigation */

.main-navigation {
  background-color: var(--basic-white);
}

/* Site navigation */

.site-navigation {
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
  list-style: none;
}
.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--basic-blue);
}

.site-navigation a:active {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.site-navigation .current{
  color: var(--special)
}

/* Features */

.features {
  color: var(--basic-black);
  list-style: none;
  text-align: center;
  line-height: 26px;
}
.features p {
  font-style: normal;
  font-weight: normal;

}

.features h1{
  font-size: 21px;
  font-style: normal;
  font-weight: bold;


}

.features-list {
  list-style: none;
}


.feature-item h3, {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}


.feature-item {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: var(--basic-light-black);
  background-color: var(--basic-white);
  list-style: none;
  text-align: center;
}
 .box {
  color: var(--basic-white);
  background-color: var(--basic-blue);
 }


/* Button */

.button,
.button-catalog {
  font: inherit;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-blue);
  border: none;
}
.button:hover {
background-color: var(--basic-blue);
}

.button:focus {
  background-color: var(--basic-blue-focus);
}

.button:active {
  background-color: var(--basic-blue-active);
}

.button-catalog {
  background-color: var(--special);
}

.button-catalog:hover {
  background-color: var(--special);
}

.button-catalog:focus {
  background-color: var(--special-focus);
}

.button-catalog:active {
  background-color: var(--special-active);
}
/* Contacts */

.contacts-phone {
  color: inherit;
}

.contacts {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
/* Main footer */

.main-footer {
  color: var(--basic-black);
  background-color: rgba(255, 255, 255, 0.9);
  align-items: center;
  text-align: center;

}

.footer-contacts a {
  color: var(--basic-black);
  text-decoration: underline;
}

.footer-social li{
  list-style: none;
}

/* Social button */

.social-button {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}
.social-button:hover {
  background-color: var(--basic-blue-focus);
}
.social-button:focus {
  background-color: var(--basic-blue);
}

/* Copyright */

.footer-copyright {
  font-style: normal;
  font-weight: normal;
  line-height: 26px;
}

.copyright-logo:hover {
  color: var(--special-logo-black);
}
.copyright-logo:focus {
  color: var(--special-logo-blue);
}
.copyright-logo:active {
  color: var(--special-logo-white-black);
}
/* Modal */

.modal {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.modal-login h2 {
  font-size: 21px;
  line-height: 26px;
}

/* Map */
.map {
  text-align: center;
}

/* Search*/

.search {
  text-align: center;
}

.search h2 {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
}

.search p {
  font-weight: normal;
  line-height: 24px;
}
